<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2015-2016 The CyanogenMod Project
                   2017-2018 The LineageOS Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realmeparts.settings"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />
    <protected-broadcast android:name="com.realmeparts.settings.UPDATE_SETTINGS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/realmeparts"
        android:persistent="true">

        <activity
            android:name=".RealmePartsActivity"
            android:label="@string/realmeparts"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_realmeparts" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data 
                android:name="com.android.settings.summary"
                android:resource="@string/realmeparts_summary" />
        </activity>

        <service
            android:name=".RealmePartsTileService"
            android:icon="@drawable/ic_realmeparts_tile"
            android:label="@string/realmeparts"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <receiver android:name=".BootCompletedReceiver" android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Startup" android:exported="true">
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".doze.DozeService"
                 android:permission="RealmeDozeService">
        </service>

        <service
            android:name=".UsbFastChgToggleService"
            android:icon="@drawable/ic_usb_fastcharge"
            android:label="@string/fastcharge_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".OtgToggleService"
            android:icon="@drawable/ic_otg_tile"
            android:label="@string/tile_otg_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".GameModeTileService"
            android:icon="@drawable/ic_game_mode"
            android:label="@string/game_mode_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

	<activity
            android:name=".dirac.DiracActivity"
            android:label="@string/dirac_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
        </activity>

        <service
            android:name=".dirac.DiracTileService"
            android:icon="@drawable/ic_headphone"
            android:label="@string/dirac_qs_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".doze.DozeSettingsActivity"
            android:label="@string/ambient_display_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
        </activity>

        <activity
            android:name=".touch.TouchscreenGestureSettings"
            android:label="@string/touchscreen_gesture_settings_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
        </activity>

        <activity
            android:name=".kcal.KCalSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase"
            android:label="@string/advanced_settings_kcal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
