on init
    # Bind mount the fstab file with the one in /vendor/etc/
    mount none /system/etc/fstab.qcom /vendor/etc/fstab.qcom bind
    # Bind mount the config file with the one in /vendor/etc/audio/
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    # Bind mount manifest.xml
    mount none /system/etc/manifest.xml /vendor/etc/vintf/manifest.xml bind
    # Bind mount qcacld3 module
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
